<!DOCTYPE html>
<html>
  <head>
    <title>RailsIntro1764</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>My navbar is here</nav>
    <%= yield %>
    <footer>Made with love by Le Wagon</footer>
  </body>
</html>
